# --------------------------- #
#      PostgreSQL config      #
# --------------------------- #
POSTGRES_USER=flatfolio_app
POSTGRES_PASSWORD=flatfolio_password
POSTGRES_DB=flatfolio_db

# --------------------------- #
#        Backend server       #
# --------------------------- #
DB_USER=flatfolio_app               # DB role used by the backend
DB_PASSWORD=flatfolio_password      # DB role password  ⚠️ change in production
DB_NAME=flatfolio_db                # Database name
DB_PORT=5432                        # Default PostgreSQL port
DB_HOST=db                          # Service name from docker-compose
BACKEND_PORT=4000                   # Express API port exposed from container

# --------------------------- #
#        Frontend (Next)      #
# --------------------------- #
FRONTEND_PORT=3000                  # Next.js dev server port
NEXT_PUBLIC_BACKEND_URL=http://localhost:4000/api  # Public URL used in the browser