# === Node.js ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
*.tsbuildinfo

# === Next.js ===
.next/
out/
.env.local
.env.development
.env.production

# === Logs ===
logs/
*.log

# === Docker ===
**/pgdata/
docker-compose.override.yml
*.pid

# === Env Files ===
.env
.env.*

# === IDEs and OS ===
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# === Coverage/Test ===
coverage/
*.lcov

# === Misc ===
*.tgz
*.bak
*.tmp
*.log

# === Optional (if using TurboRepo, NX, etc.) ===
turbo/
nx-cache/

# === lock file  ===
package-lock.json
yarn.lock